.wrap-read-more-service {
    height: 280px;
    overflow: hidden;
    position: relative;

    &.show {
        height: auto;
    }

    .title {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #3F3F3F;
    }

    .content {
        overflow: hidden;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .hide-text {
        .see-more {
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-weight: 500;
            font-size: 16px;
            color: #009874;
            margin-top: 10px;
            text-align: center;
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
            width: 100%;
            height: 40%;

            div {
                margin-top: 50px;
                cursor: pointer;

            }
        }
    }

    .show-text {

        .show-less {
            font-weight: 500;
            font-size: 16px;
            color: #009874;
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
        }
    }

    .LinesEllipsis {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        .LinesEllipsis-ellipsis {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: block;
            width: 100%;
            padding: 50px 0 20px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%, rgba(255, 255, 255, 0) 100%);

            text-align: center;
            font-weight: 500;
            font-size: 16px;
            color: #009874;

            cursor: pointer;

            // &::after {
            //     content: "\203A";
            //     display: inline-block;
            //     transform: rotate(90deg);
            //     font-size: 25px;
            //     margin-right: 5px;
            // }
        }
    }
}