.selectTimeOptionServiceContainer {
    height: 100%;

    .ant-form-item {
        label {
            width: 100px;

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    .timeContainer {}


}

.ant-picker-time-panel-column {
    &::after {
        display: none !important;
    }
}

@media (max-width: 576px) {

    .ant-picker-panels {
        display: flex;
        flex-direction: column !important;
    }
}