@import "../../../App.scss";
.PopUpSignIn {
  .pop-up-sign-in-button:hover {
    cursor: pointer;
  }
}
.ant-modal-content {
  border-radius: 20px !important;
  height: 650px;
  .warning {
    font-size: 20px;
    font-weight: 700;
    color: $primary-700;
    margin-bottom: 20px;
  }
}
