.ListItem {
  margin-top: 36px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
    // background-color: #f5f5f5;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #222222;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    a {
      color: #03ac84;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
    }
  }

  .box-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    display: grid;
    gap: 9px;
    background-color: #f5f5f5;

  }
}

@media (min-width: 1450px) {
  .ListItem {
    .box-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.slideDetail {
  .swiper-slide {
    display: block !important;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

  }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  .swiper-button-prev,
  .swiper-button-next {
    color: #616161;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);

    // &:hover {
    //   background-color: #43464b;
    // }

    &::after {
      font-size: 10px;
      color: #616161;
      font-weight: bold;
    }
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }
}