@import "../../App.scss";

.shop_container {
    max-width: 1300px;

    .banner_container {

        .shop_name {
            font-weight: 800;
            font-size: 30px;
            line-height: 41px;
            color: $neutral-700;
        }

        .location {
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #828282;
        }

        .rating {
            font-size: 15px;
            padding-right: 6px;

        }

        .container {
            width: 100px;
        }
    }
}