.rating {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 26px;
    position: relative;

    .listRates {
        display: flex;
        gap: 8px;
        padding-bottom: 28px;
        margin-top: 20px;

        border-bottom: 1px solid #e7e7e7;

        .rate_item {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 14px 17px;

            border: 1px solid transparent;
            border-radius: 10px;
            background-color: #f6f6f6;
            transition: 0.2s linear;
            cursor: pointer;


            &.active {
                border: 1px solid #e22828;
                background-color: #fff;
                color: #e22828;
            }

            &:hover {
                border: 1px solid #e22828;
                background-color: #fff;
                color: #e22828;
            }
        }
    }

    .rating_list {
        display: flex;
        flex-direction: column;
        padding: 28px 0px 0px;

        .rating_wrapper {

            .info-user {
                display: flex;
                align-items: center;
                gap: 11px;
                justify-content: space-between;

                img {
                    width: 36px;
                    height: 36px;
                    object-fit: cover;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    // gap: 5px;
                    line-height: 1;
                    justify-content: center;

                    h3 {
                        font-weight: 700 !important;
                        font-size: 16px !important;
                        color: #616161;
                        margin: 0 !important;
                        padding: 0 !important;
                        line-height: 1 !important;
                    }

                    span {
                        font-size: 15px;
                    }
                }
            }

            .description {
                padding: 0;
                padding: 10px 0;
            }

            .listImages {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 16px;

                .item-video {
                    width: 80px;
                    height: 80px;
                    position: relative;
                    cursor: pointer;

                    border-radius: 4px;
                    overflow: hidden;
                    transition: transform 0.5s ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }

                    .play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 19px;
                        z-index: 10;
                        color: #fff;
                    }

                    &:hover img {
                        transform: scale(1.05, 1.05);
                    }
                }

                .item-image {
                    width: 80px;
                    height: 80px;
                    position: relative;
                    cursor: pointer;

                    border-radius: 4px;
                    overflow: hidden;
                    transition: transform 0.5s ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    &:hover img {
                        transform: scale(1.05, 1.05);
                    }
                }
            }

            .cmt_reply_container {
                background: #F6F6F6;
                border-radius: 4px;

                .name_reply {
                    color: #616161;
                    margin-bottom: 4px;
                }

                .cmt_reply {
                    color: #222222
                }
            }
        }

        .img_avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

        .pagination-ds {
            margin-top: 10px !important;
            text-align: center;
        }
    }

}