@import "../../App.scss";

.image_container {
    max-height: 430px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px;
    grid-auto-rows: minmax(60px, auto);


    .image_item {
        // position: relative;
        cursor: pointer;
        height: 100% !important;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.02, 1.02);
            }
        }

        &:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        &.img_more {
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            }

            .number {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                font-size: 34px;
                letter-spacing: -0.01em;

                color: #ffffff;
                z-index: 10;
            }
        }
    }
}

.modal-image {
    width: 1169px !important;
}