.terms-use-container {
    .terms-use-content {
        max-width: 1300px;
        margin: 0 auto;
        padding: 25px 0;

        .wrap-des {
            margin-bottom: 10px;

            p {
                font-size: 18px;
                padding-bottom: 10px;
            }
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    .nav-mobile-terms-user {
        display: none;
    }

    .divider {
        display: none;
    }
}

@media (max-width: 576px) {
    .terms-use-container {
        .terms-use-content {
            padding: 0px 20px !important;
        }

        .nav-mobile-terms-user {
            display: flex;
        }

        .divider {
            display: block;
            height: 10px;
            background-color: #f6f6f6;
            margin-bottom: 20px;
        }
    }
}