@import "../../../App.scss";

.sign-up-button {
  border: none;
  background-color: #fff;
  color: $primary-700;
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
}

.sign-in-button {
  border: none;
  background-color: #fff;
  color: $neutral-400;
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.face-google-login {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
}

.facebook-button,
.google-button {
  position: relative;
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid $neutral-300;
  background-color: #fff;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}

.fb-logo,
.gg-logo {
  left: 0;
  transform: translateX(30px);
  position: absolute;
}

.divine-login {
  height: 1px;
  width: 100%;
  background-color: $neutral-200;
  margin-top: 50px;
  margin-bottom: 41px;
  position: relative;
  display: flex;
  justify-content: center;
}

.divinve-login-content {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $neutral-500;
}

.phone-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;

  .phone-zone-sign-up {
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 6.5px 11px;
    display: flex;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;

    input:focus {
      outline: none !important;
    }

    .code-vn-login {
      color: $neutral-500;
      padding: 0 5px;
    }

    .invalidPhone {
      position: absolute;
      bottom: -25px;
      right: 0px;
      color: $primary-700;
      font-size: 14px;
    }

    .input-phone {
      border: none;
      width: 100%;
    }

    .white-hide {
      padding: 20px;
      position: absolute;
      right: 10px;
      background-color: #fff;
      top: 5px;
    }

    .d-none {
      display: none;
    }
  }
}

.text-confirm {

  a {
    color: #1976d2;
  }
}

.confirm-sign-up {
  margin-top: 67px;
  padding: 11px;
  font-size: 16px;
  width: 100%;
  position: relative;
  font-weight: 700;
  color: #fff;
  background-color: $primary-700;
  border: none;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .loadingEffect {
    width: 20px;
    height: 10px;
    position: absolute;
    top: -9px;
    left: 30%;
  }
}

.have-account {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;

  .have-account-content {
    color: $neutral-500;
  }

  .have-account-button {
    padding-left: 5px;

    color: $primary-700;

    &:hover {
      color: $primary-500;
      cursor: pointer;
    }
  }
}

@media only screen and (max-height: 700px) {
  .divine-login {
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  .divine-login {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .confirm-sign-up {
    margin-top: 70px;
  }
}