@import "../../../../App.scss";
.ChatContent {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;

  &__header {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    height: 50px;
    align-items: center;
    &__user {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      padding-left: 10px;
    }
  }

  &__conversation {
    position: relative;
    height: 320px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    scroll-behavior: smooth;
    &__loadmore {
      position: relative;
      background: transparent;
      width: 100%;
      background-color: transparent;
    }
    &__loadmore {
      position: relative;
      background: transparent;
      width: 100%;
      background-color: transparent;
    }
    &__no-more {
      display: flex;
      justify-content: center;
      color: $primary-700;
      font-size: 14;
      font-weight: 700;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: $secondary-50;
    }
    &::-webkit-scrollbar-thumb {
      background: $secondary-700;
      border-radius: 2.5px;
    }
    &__other {
      padding: 0px 10px;
      margin: 10px 0;
      display: flex;
      &__content {
        background-color: $secondary-50;
        padding: 7px 10px;
        max-width: 350px;
        border-radius: 8px;
      }
    }
    &__you {
      padding: 0px 10px;
      margin: 10px 0;
      display: flex;
      flex-direction: row-reverse;
      &__content {
        background-color: $neutral-100;
        padding: 7px 10px;
        max-width: 350px;
        border-radius: 8px;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    height: 70px;
    z-index: 20;
    box-shadow: 0 -4px 20px 5px rgba(0, 0, 0, 0.1);
    bottom: 0px;
    position: relative;
    &__upload {
      margin-left: 10px;
      margin-right: 10px;
    }
    &__current-message {
      width: 90%;
      height: 55px;
      border-radius: 5px;
      line-height: 20px;
      padding: 5px 10px;
      &:focus {
        outline: none;
      }
    }
  }
}
.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 0;
  overflow: hidden;
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary-700;
  color: $secondary-700;
  box-shadow: 9999px 0 0 -5px $secondary-700;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $secondary-700;
  color: $secondary-700;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $secondary-700;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $secondary-700;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $secondary-700;
  }
  30% {
    box-shadow: 9984px 0 0 2px $secondary-700;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $secondary-700;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $secondary-700;
  }
  30% {
    box-shadow: 9999px 0 0 2px $secondary-700;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $secondary-700;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $secondary-700;
  }
  30% {
    box-shadow: 10014px 0 0 2px $secondary-700;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $secondary-700;
  }
}
.stage1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 5px 0;
  overflow: hidden;
}
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
}

