@import "../../../../../../App.scss";

.confirm_order_device_container {
  width: #{"min(100% - 1em, 650px)"};
  margin-inline: auto;
  padding: 41px 24px;
  background-color: #fff;

  .confirm_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: $neutral-700;
    margin-bottom: 16px;
  }

  .confirm_reminder {
    width: 55%;
    margin: auto;
    text-align: center;
  }

  .wrapper_input {
    height: 350px;
    margin: 0 auto 40px;
    border: 1px dashed $secondary-700;
    border-radius: 4px;

    .btn_upload {
      border: 0.8px solid #1fcba2;
      border-radius: 6px;
      padding: 11px 15px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $neutral-500;
  }

  .btn_update {
    background: #1fcba2;
    border-radius: 6px;
    width: 100%;
    height: 48px;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .border_bottom {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 28px;
    margin-bottom: 23px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}