@import "./../../../../App.scss";

.search-container {
    height: 500px;

    .search-wrap {
        height: 40px;
        background-color: #F4F4F4;
        border-radius: 10px;
        width: 100%;

        .ant-input-wrapper {
            height: 100%;

            .ant-input-affix-wrapper {
                border: none;
                height: 100%;
                background-color: #F4F4F4;


                // &:focus {
                //     outline: none;
                //     border: none;
                // }
                &:focus {
                    box-shadow: none;
                    outline: none;

                }

                &.ant-input-affix-wrapper-focused {
                    box-shadow: none;
                    outline: none;
                }

                .ant-input {
                    background-color: #F4F4F4;
                    font-size: 16px;


                }
            }

            .ant-input-group-addon {
                height: 100%;

                .ant-input-search-button {
                    height: 100%;
                    display: flex;
                    padding: 10px 28px;
                    background: #E22828;

                    border: 1px solid #E22828;
                    border-radius: 8px;
                    color: #fff;
                    justify-content: center;
                    align-items: center;

                    .anticon-search {

                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    .search-body {
        height: 85%;
        width: 100%;


        .number-service-select {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $neutral-500;

            margin-top: 10px;
            margin-bottom: 8px;
        }

        .service-list {
            height: 95%;
            width: 100%;

            overflow-y: scroll;

            .choose-service-list {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-bottom: 10px !important;

                &-tag {
                    border: 1px solid #009874;
                    color: #009874;
                    border-radius: 5px;
                    padding: 2px 5px;
                    margin-right: 0;
                }
            }

            .service-list-item {
                height: 95px !important;
                width: 100%;
                display: flex;
                justify-content: flex-start;

                align-items: center;
                border-bottom: 1px solid #E7E7E7;
                padding-bottom: 15px;
                margin: 0 0 15px !important;

                &:last-child {
                    margin-top: 0;
                }

                .service-image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .service-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    &-name {
                        margin-bottom: 6px;
                        font-size: 17px !important;
                        display: -webkit-box;
                        line-height: 20px;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 20px;
                    }

                    &-price {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: $neutral-600;
                    }

                    &-rating {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: $neutral-600;

                        margin-top: 5px;

                        &-start {
                            color: #FC9700;
                        }
                    }
                }

            }
        }
    }

    .search-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: 10px;
        background-color: #fff;
        text-align: end;

        .ant-btn {
            border-radius: 8px;
        }
    }
}