@import "../../../../../../../App.scss";

.FooterStatus {
  &__wait {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    min-height: 55px;

    &__prove {
      display: flex;
      align-items: center;
      color: #ba8600;
      padding-left: 10px;

      &>div {
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        max-width: 317px;
      }
    }

    &__button {
      width: 34%;
      display: flex;
      justify-content: space-between;

      &__1 {
        width: 48%;
        background-color: #fff;
        border: 1px solid $neutral-300;
        color: $neutral-400;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
          color: #000;
          border: 1px solid #000;
        }
      }

      &__2 {
        width: 48%;
        background-color: $secondary-700;
        border: none;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
          filter: brightness(120%);
        }
      }
    }
  }

  &__comming {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 10px 0;


    &__cancel {
      width: 120px;
      margin-left: 10px;
      padding: 7px;
      border-radius: 5px;
      background-color: #fff;
      color: $primary-700;
      border: 1px solid $primary-700;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        filter: brightness(120%);
      }
    }

    &__contact {
      width: 120px;
      margin-left: 10px;
      padding: 7px;
      border-radius: 5px;
      background-color: #fff;
      color: $secondary-800;
      border: 1px solid $secondary-800;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        cursor: pointer;
        filter: brightness(120%);
      }
    }
  }

  &__complete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 10px 0;


    &__modal {
      &__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 5px;

        & h3 {
          font-weight: 700 !important;
          font-size: 20px !important;
          line-height: 27px !important;
        }

        &__info {
          width: 100%;
          border: 1px solid $neutral-200;
          border-radius: 8px;
          height: 100px;
          padding: 10px;
          display: flex;
          align-items: center;

          & img {
            border-radius: 10px;
          }

          &__content {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            margin-left: 10px;

            &__title {
              font-weight: 600;
              font-size: 18px;
              margin-bottom: 13px;
            }
          }
        }

        &__stars {
          margin: 15px;
        }

        & textarea {
          width: 100%;
          height: 110px;
          border-radius: 10px;
          background-color: $neutral-50;
          border: none;
          padding: 10px;

          &:focus {
            outline: none;
          }
        }

        &__img {
          display: flex;
          width: 100%;
          justify-content: space-between;

          &__footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 5px;

            &>div {
              width: 80px;
              justify-content: center;
              display: flex;
            }
          }
        }

        &__isAnonymous {
          width: 100%;
          margin-top: 15px;
          font-weight: 600;
          font-size: 18px;
        }

        &__confirm {
          display: flex;
          width: 100%;
          justify-content: flex-end;

          &__1 {
            width: 80px;
            padding: 8px;
            border-radius: 5px;
            border: none;
            font-weight: 600;
            color: $neutral-500;

            &:hover {
              cursor: pointer;
              filter: brightness(120%);
            }
          }

          &__2 {
            margin-left: 10px;
            width: 120px;
            padding: 8px;
            border-radius: 5px;
            font-weight: 600;
            color: #fff;
            border: none;
            background-color: $primary-700;

            &:hover {
              cursor: pointer;
              filter: brightness(120%);
            }
          }
        }
      }
    }

    &__rating {
      .ant-rate {
        font-size: 25px !important;
      }

      width: 120px;
      background-color: #fff;
      border: 1px solid $secondary-800;
      color: $secondary-800;
      padding: 7px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        filter: brightness(120%);
      }
    }

    &__order {
      width: 120px;
      margin-left: 10px;
      background-color: $secondary-700;
      padding: 7px;
      border: none;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        filter: brightness(120%);
      }
    }
  }

  &__cancel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 10px 0;


    &__order {
      width: 120px;
      margin-left: 10px;
      background-color: $secondary-700;
      padding: 7px;
      border: none;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        filter: brightness(120%);
      }
    }
  }
}

@media (max-width: 576px) {
  .FooterStatus {

    &__wait {
      flex-direction: column;
      padding-top: 0;

      &__button {
        width: 100%;
        height: 40px;
        margin-top: 15px;
      }
    }
  }
}