.OrderStatus {
  &__header {
    margin-bottom: 8px;
    font-size: 16px;
  }

  &__body {
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
    padding: 0 0;
    margin-bottom: 12px;
  }
}

.tab_search {
  // .ant-tabs-content {
  //   flex-direction: column !important;
  // }

  .ant-tabs-extra-content {
    margin: 20px 0px;
    width: 100% !important;

    input {
      padding: 10px;
    }

    .ant-input-affix-wrapper {
      border-radius: 10px !important;
    }
  }

  .ant-tabs-nav {
    flex-direction: column !important;
  }

  .ant-tabs-nav-wrap {

    // &::after,
    // &::before {
    //   display: none;
    // }
  }

  .ant-tabs-nav-operations {
    display: none !important;
  }
}