@import "../../App.scss";

.cart_container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  padding: 18px 70px;

  .cart_row {
    // background: #FFFFFF;

    .cart_col_left {

      .cart_tab_pane {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.04);

        .ant-tabs-nav {
          background-color: white !important;
          height: 50px !important;
          margin-bottom: 6px;

          .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
              .ant-tabs-tab {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $neutral-600;

                padding: 0 14px;
                // text-transform: capitalize;

                &.ant-tabs-tab-active {
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 22px;
                  color: $primary-700;

                  // border-bottom: 3px solid red;
                }
              }
            }
          }
        }

        .ant-tabs-content-holder {

          .ant-tabs-content {
            .checkbox_content {
              .checkbox_label {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: $neutral-600;
                cursor: pointer;
              }

              .checkbox_desc {
                div {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 19px;
                  color: $neutral-500;

                  .date {
                    margin-left: 12px;
                    color: $neutral-600;
                  }

                }
              }

              .checkbox_action {
                text-align: end;
                cursor: pointer;

                div {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  color: $secondary-800;
                  padding: 0;
                }

              }

              .price {
                width: 100%;
                text-align: right;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: $primary-700;
              }
            }

            .ant-divider {
              margin: 14px 0 20px;
            }
          }
        }

        .wrapper {
          background-color: #fff;
          padding: 0 30px;


        }
      }
    }

    .cart_col_right {
      .card {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.04);
      }
    }
  }
}

@media (max-width: 992px) {
  .cart_container {
    padding: 18px 20px;
  }
}

@media (max-width: 768px) {
  .cart_container {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .cart_container {
    padding: 0;
  }
}