@import "../../../../App.scss";
.ForgotPass {
  .header {
    font-size: 20px;
    font-weight: 600;
    .back-button-forgot-pass {
      border: none;
      background-color: #fff;
      transform: translateY(-2px);
      margin-right: 10px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  .noti-forgot-pass {
    margin-top: 31px;
    font-size: 18px;
    width: 100%;
  }

  .phone-zone-forgotpass {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 6.5px 11px;
    display: flex;
    border-radius: 10px;
    margin-top: 45px;
    position: relative;
    input:focus {
      outline: none !important;
    }
    .phone-check {
      position: absolute;
      bottom: -30px;
      left: 0px;
      color: $primary-700;
      font-size: 14px;
    }
  }
  .invalid-phone {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 6.5px 11px;
    display: flex;
    border-radius: 10px;
    margin-top: 45px;
    position: relative;
    input:focus {
      outline: none !important;
    }
    .phone-check {
      position: absolute;
      bottom: -30px;
      left: 0px;
      color: $primary-700;
      font-size: 14px;
    }
  }

  .input-phone-forgot-pass {
    border: none;
    width: 400px;
    font-size: 16px;
    margin-left: 10px;
  }

  .code-vn-login {
    color: $neutral-500;
    padding: 0 5px;
    font-size: 16px;
  }

  .stop-pass {
    margin-top: 67px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: $neutral-400;
    background-color: $neutral-100;
    border-radius: 8px;
    font-size: 16px;
  }

  .continue-pass {
    margin-top: 67px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: #fff;
    background-color: $primary-700;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }

  .send-code-again-sign-up {
    color: $secondary-800;
    border: none;
    background-color: #fff;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .d-none {
    display: none;
  }
}

