@import "../../App.scss";

.postDetail {
    background-color: rgb(29, 34, 38);
    height: 90vh;

    .swiperPostDetail {
        height: 85vh;

        .swiper-button-prev,
        .swiper-button-next {
            padding: 25px 15px;
            background: rgba(255, 255, 255, 0.46);
            border-radius: 2px;

            &::after {
                font-size: 18px;
                color: #000000;
                font-weight: 900;
            }
        }

    }

    .col-right {
        background-color: #fff;
        height: 90vh;
        overflow-Y: scroll;
        position: relative;
    }
}