.FilterCard {
  background-color: white;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-height: 190px;
  margin-bottom: 20px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  .like {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: #d2666682;
    }
  }

  .groupImage {
    position: relative;
    display: flex;
    width: 40%;
    min-height: 200px;

    .heard {
      position: absolute;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 5px;
      top: 15px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;

      &:hover {}
    }

    .sale {
      position: absolute;
      background-color: #e22828;
      color: #fff;
      font-family: Inter;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      left: 0px;
      top: 15px;
      padding: 3px 3px 4px 5px;
      border-radius: 0px 4px 4px 0px;
    }

    .main {
      overflow: hidden;
      width: 269px;
      height: 189px;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .right {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 128px;

      .sub {
        height: 48%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .text {
    width: 100%;
    padding: 10px;

    p {
      padding: 2px;
    }
  }

  p.title {
    padding-right: 5px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-overflow: ellipsis;
    max-width: 95%;
  }

  p.description {
    font-weight: 400;
    display: -webkit-box;
    font-size: 14px;

    line-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-overflow: ellipsis;
    width: calc(100% - 30px);
  }

  div.description-category {
    font-weight: 400;
    font-size: 14px;

    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
    }
  }

  .addition {
    width: 100%;
    color: #e22828;
    text-align: end;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .right-text {
    text-align: end;
  }

  @media (max-width: 1200px) {
    .groupImage {
      display: block;

      .main {
        width: auto;
        height: 100%;
      }

      .right {
        display: none;
      }
    }
  }

  .layout-mobile {
    padding: 0 !important;

    .wrap {
      width: 103%;
      height: 220px;
      overflow: hidden;

      .image-large {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .image-small {
        width: 100%;
        height: 110px;
        object-fit: cover;
      }
    }

    .info {
      position: relative;
      padding: 16px 10px;

      .addition {
        text-align: end !important;
      }

      .like {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;

        &:hover {
          background-color: #d2666682;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .groupImage {
      width: 50%;
    }

    // .main {
    //   width: 120px;
    //   height: 100%;
    // }
    .addition {
      text-align: end;
    }

    .right-text {
      text-align: end;
    }
  }

  // @media (max-width: 576px) {
  //   .groupImage {
  //     width: 100%;

  //     .main {
  //       width: 100%;
  //       height: 100%;
  //     }

  //     .right {
  //       display: none;
  //     }
  //   }
  // }

  // @media (max-width: 540px) {
  //   .groupImage {
  //     .main {
  //       width: 120px;
  //       height: 100%;
  //     }

  //     .right {
  //       display: none;
  //     }
  //   }
  // }
}

@media (max-width: 576px) {
  .FilterCard {
    max-height: none;
  }
}