.FilterCard {
  background-color: white;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  max-height: 190px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .like {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;

    &:hover {
      background-color: #d2666682;
    }
  }

  .groupImage {
    position: relative;

    .heard {
      position: absolute;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 5px;
      top: 15px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;

      &:hover {}
    }

    .sale {
      position: absolute;
      background-color: #e22828;
      color: #fff;
      font-family: Inter;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      left: 0px;
      top: 15px;
      padding: 3px 3px 4px 5px;
      border-radius: 0px 4px 4px 0px;
    }

    .main {
      overflow: hidden;
      width: 269px;
      height: 189px;
      margin-right: 8px;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }

    display: flex;
    width: 400;

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 128px;

      .sub {
        height: 48%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  p.title {
    padding-right: 5px;
    font-weight: 700;
    font-size: 20px;
    display: -webkit-box;
    // flex: 1;

    line-height: 22px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-overflow: ellipsis;
    max-width: 440px;
  }

  p.description {
    padding: 5px 0 0 17px;
    font-weight: 400;
    display: -webkit-box;
    font-size: 14px;

    line-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-overflow: ellipsis;
    width: 360px;
  }

  p.description-category {
    padding: 5px 0 0 17px;
    font-weight: 400;
    font-size: 14px;
  }

  .addition {
    color: #e22828;
    text-align: right;
    font-weight: 600;
  }

  .text {
    width: 100%;
    padding-right: 10px;
  }
}