.FilterCard {
  background-color: white;
  display: flex;
  margin: 10px;

  .groupImage {
    position: relative;

    .heard {
      position: absolute;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 5px;
      top: 15px;
      border-radius: 50%;
      overflow: hidden;
    }

    .sale {
      position: absolute;
      background-color: #e22828;
      color: #fff;
      font-family: Inter;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      left: 0px;
      top: 15px;
      padding: 3px 3px 4px 5px;
      border-radius: 0px 4px 4px 0px;
    }

    img {
      padding: 10px 0 10px 10px;
      width: 100%;
      display: block;
      object-fit: cover;
    }

    display: flex;
    width: 400;

    .main {
      overflow: hidden;
      width: 269px;
      height: 189px;
    }

    .sub {
      overflow: hidden;
      width: 128px;
      height: 90px;
      object-fit: cover;
    }
  }

  p.title {
    padding: 17px;
    font-weight: 700;
    font-size: 20px;
  }

  p.description {
    padding: 5px 0 0 17px;
    font-weight: 400;
    font-size: 14px;
  }

  .addition {
    color: #e22828;
    text-align: right;
    font-weight: 600;
  }

  .text {
    width: 100%;
    padding-right: 10px;
  }
}