.card {
    position: relative;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background-color: #ffff;
    // width: 210px;
    // height: 264px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        img {
            transform: scale(1.1);
            overflow: hidden;
        }
    }
}

.like {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #d2666682;
    }
}
.image {
    width: 100%;
    height: 136px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s linear;
    }
}

.content {
    padding: 12px;

    h5 {
        font-size: 16px;
        font-weight: 700;
    }
    .address {
        display: flex;
        align-items: center;
        gap: 6px;
        img {
            width: 10px;
            height: 10px;
            object-fit: contain;
        }
        span {
            font-size: 14px;
            color: #828282;
        }
    }
    .rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        span {
            font-size: 13px;
        }
    }
}

@media (min-width: 1450px) {
    .card {
        // height: 300px;
        image {
            height: 300px;
        }
        img {
        }
    }
}
