.container-input input[type="password"] {
    background-color: #F4F4F4,
}

.container-input input[type="text"] {
    background-color: #F4F4F4,
}

.container-input input[type="password"]:focus {
    background-color: #F4F4F4,
}

.container-input input[type="text"]:focus {
    background-color: #F4F4F4,
}