.OrderDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .detail-description {
    list-style: disc outside;
    margin-left: 40px !important;

    li {
      font-weight: 400;
      font-size: 16px;
      color: #222222;
    }

    p {
      margin-left: -15px !important;
      font-weight: 400;
      font-size: 16px;
      color: #222222;
    }
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
  }
  .chile {
    background: #ffffff;
    padding: 20px;
  }
  .sub_title {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #161616;
  }
  .df {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .df_bt {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .df_bt_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .df_2 {
    text-align: center;
  }
  .status_name {
    width: fit-content;
    width: fit-content;
    margin: 10px auto;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #009874;
  }
  .status_content {
    width: fit-content;
    margin: 10px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3f3f3f;
    span {
      font-weight: 700;
    }
  }
  .cx {
    .ant-btn-primary {
      color: #fff;
      border-color: #1fcba2;
      background: #1fcba2;
      border-radius: 6px;
      padding: 0 52px;
      background-color: #1fcba2;
      display: block !important;
      margin: 20px auto 0;
      // text-shadow: 0 -1px 0 rgba(0 0 0, 12%);
      // box-shadow: 0 2px 0 rgba(0 0 0, 5%);
    }
  }
  .divider {
    background: #cacaca;
    width: 1px;
    position: absolute;
    height: 100%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .tl {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3f3f3f;
  }
  .tr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
  }
  .trt {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #e22828;
  }
  .tr2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #009874;
  }
  .flexx {
    display: flex;
    align-items: center;
    .noti_text {
      padding-left: 10px;
      width: fit-content;
      display: block;
    }
  }
  .boxxx {
    margin-top: 20px;
    width: 50%;
    display: flex;
  }
  .fi {
    width: 4px;
    background: #18aa00;
    margin-right: 10px;
  }
  .text_title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  .t_green {
    color: #18aa00;
  }
  .t_red {
    color: #e60019;
  }
  .b_green {
    background: #18aa00;
  }
  .b_red {
    background: #e60019;
  }
  .cardx {
    width: 100%;
    display: flex;
    .present_img {
      width: 86px;
      height: 86px;
      margin-right: 10px;
      border-radius: 10px;
    }
    &__text {
      width: 100%;
      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #161616;
      }
      &__sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__p {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #616161;
        &:last-child {
          color: #e22828;
        }
      }
    }
  }
  @media (max-width: 720px) {
    .divider {
      display: none;
    }
  }
}
