@import "../../../App.scss";

.SignIn {
  .ant-input {
    border-radius: 10px !important;
  }

  .ant-input-affix-wrapper {
    border-radius: 10px !important;
  }

  .sign-up-button {
    border: none;
    background-color: #fff;
    color: $neutral-400;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }

  .sign-in-button {
    border: none;
    background-color: #fff;
    color: $primary-700;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
  }

  .face-google-login {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
  }

  .facebook-button,
  .google-button {
    position: relative;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid $neutral-300;
    background-color: #fff;
    font-size: 14px;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }

  .fb-logo,
  .gg-logo {
    left: 0;
    transform: translateX(30px);
    position: absolute;
  }

  .divine-login {
    height: 1px;
    width: 100%;
    background-color: $neutral-200;
    margin-top: 50px;
    margin-bottom: 41px;
    position: relative;
    display: flex;
    justify-content: center;

    .divinve-login-content {
      position: absolute;
      background-color: #fff;
      padding: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $neutral-500;
    }
  }

  .phone-zone-sign-in {
    width: 100%;
    border: 1px solid $neutral-300;
    padding: 12px 25px;
    display: flex;
    border-radius: 10px;
    margin-top: 15px;

    .input-phone {
      border: none;
      width: 300px;
    }
  }

  .input {
    padding: 9px 25px;
    border: none;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: $neutral-500;
  }

  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: $neutral-300 !important;
    box-shadow: 0 0 0 1px $neutral-300;
  }

  .phone-zone-sign-in input:focus {
    outline: none !important;
  }

  .forgot-password {
    border: none;
    background-color: #fff;
    color: $primary-700;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }

  .confirm-sign-in {
    margin-top: 67px;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: $primary-700;
    border: none;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  .dont-have-account {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;

    .dont-have-account-content {
      color: $neutral-500;
    }

    .dont-have-account-button {
      padding-left: 5px;
      color: $primary-700;
      font-weight: 600;

      &:hover {
        color: $primary-500;
        cursor: pointer;
      }
    }
  }

  input.ant-input::placeholder {
    color: $neutral-400 !important;
  }

  @media only screen and (max-height: 800px) {
    .divine-login {
      display: none;
    }
  }
}