@import "../../../../App.scss";
.Rating {
  &__header {
    margin-bottom: 8px;
    font-size: 16px;
  }
  &__body {
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
    padding: 25px 25px;
    margin-bottom: 12px;
    border-radius: 5px;
    &__star {
      font-size: 18px;
      margin-left: 10px;
      & > span {
        font-weight: 400;
        font-size: 18px;
        color: $neutral-400;
      }
    }
  }
}
.ant-rate {
  font-size: 20px !important;
}
