.selectTimeOptionContainer {
    .ant-form-item {
        label {
            width: 100px;

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    .timeContainer {}

    .ant-picker-input {
        input {
            color: #3F3F3F;
            background-color: inherit !important;
        }
    }

    .ant-picker-disabled {
        background-color: inherit !important;
    }
}

.ant-picker-time-panel-column {
    &::after {
        display: none !important;
    }
}