@import "../../App.scss";

.check-box_container {
  padding: 22px 0;
  border-top: 1px solid #e7e7e7;

  &:first-child {
    border: none;
    padding: 15px 0;
  }

  .check_box {
    cursor: pointer;
    position: relative;

    .check_input {
      display: none;

      &:checked ~ span {
        display: block;
      }
    }

    &::before {
      content: "";
      height: 18px;
      width: 18px;
      display: block;
      border: 1px solid #828282;
      border-radius: 2px;
      position: relative;
      margin-right: 13px;
      transform: translateY(-1px);
    }

    span {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 18px;
      width: 18px;
      font-size: 12px;
      color: white;
      border-radius: 2px;
      transform: translateY(-1px);
      background-color: $secondary-700;
      padding-top: 2.5px;
      display: none;
    }
  }
}
