.Footer {
  background-color: #ffffff;

  .container {
    padding: 56px 0;

    p.title {
      font-family: Montserrat;
      padding-left: 5px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }

    .logo {
      display: flex;
      align-items: center;
      margin: 30px 0;

      img {
        width: 100px;
        // height: 29px;
      }

      svg {
        width: 100px;
        // height: 27px;
      }
    }

    .icons {
      margin: 10px 0;
      width: 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .item {
      cursor: pointer;
      padding-left: 5px;
      color: #3f3f3f;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }

    .mt-20 {
      margin-bottom: 20px;
    }

    .pt-30 {
      padding-top: 30px;
    }

    .exten {
      padding: 20px 0 !important;
    }
  }

  .copywrite {
    padding: 42px 0;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
  }
}