.footer {
    padding: 56px 125px 45px 125px;
    background-color: #ffff;

    .box-container {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 2rem;
    }

    .credit {
        color: #616161;
        font-size: 14px;
        text-align: center;
    }

    .box {
        display: flex;
        flex-flow: column;

        h5 {
            font-size: 16px;
            margin-bottom: 23px;
        }

        a {
            color: #3f3f3f;
            font-size: 16px;
            text-decoration: none;
            margin-bottom: 16px;
        }

        .app {
            margin: 0 0 57px 0;
            display: flex;
            gap: 10px;

            a {
                img {
                    width: 86px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }

        .bottom {
            p {
                font-size: 16px;
                margin-bottom: 17px;
            }

            .socials {
                display: flex;
                gap: 24px;

                .social {
                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        &:nth-child(4) {
            img {
                width: 112px;
                height: 34px;
                object-fit: contain;
            }

            h4 {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}