.wrapper {
  max-width: 1300px;
  margin: auto;
}

.studioDetail {
  width: 100%;
  // padding: 0 70px 54px 70px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-description {
  list-style: disc outside;
  margin-left: 40px !important;

  li {
    font-weight: 400;
    font-size: 16px;
    color: #222222;
  }

  p {
    margin-left: -15px !important;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
  }
}


.box1 {
  padding: 29px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .address {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 11px 0;


    img {
      width: 10px;
      height: 10px;
      object-fit: contain;
    }

    span {
      font-size: 14px;
      color: #828282;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      h3 {
        font-weight: 800;
        font-size: 30px;
        color: #222222;
        line-height: 1;
        margin: 0;
        padding: 0;
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 35px;

      .item {
        font-size: 26px;
        font-weight: 600;

        &:nth-child(1) {
          color: red;
        }
      }
    }
  }

  .rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    li {
      margin-right: 5px;
    }

    span {
      font-size: 15px;
    }

    .number-order {
      display: inline-block;
      width: 1px;
      height: 12px;
      border: 0.6px solid #b2b2b2;
      margin: 0 10px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(60px, auto);
    gap: 14px;
    margin-top: 20px;
  }

  .item {
    // width: 300px;
    // height: 206px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &:nth-child(5) {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3));
      }

      .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 34px;
        letter-spacing: -0.01em;

        color: #ffffff;
        z-index: 10;
      }
    }
  }
}

.service_name {
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #222222;
}



.box2 {
  display: flex;
  gap: 12px;

  .left {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 12px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      color: #3f3f3f;
    }

    .description {
      padding: 26px;
      background-color: #fff;
    }

    .sale {
      padding: 26px;
      background-color: #fff;

      .listSale {
        display: flex;
        gap: 8px;

        span {
          border: 1px solid #1fcba2;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 600;
          color: #03ac84;
          padding: 7px 13px;
          cursor: pointer;
        }
      }
    }

    .table {
      padding-top: 24px;
      background-color: #fff;

      .selectOption {
        margin-left: 20px;
      }

      .table-ant {
        td {
          border-bottom: 1px solid #b2b2b2;
          border-right: 1px solid #b2b2b2;
        }
      }
    }

    .rating {
      .rate {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        span {
          font-size: 15px;
        }
      }
    }

    .rating {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 26px;
      position: relative;

      .listRates {
        display: flex;
        gap: 8px;
        padding-bottom: 28px;
        margin-top: 20px;

        border-bottom: 1px solid #e7e7e7;

        div {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 14px 17px;
          border: 1px solid transparent;
          border-radius: 10px;
          background-color: #f6f6f6;
          transition: 0.4s linear;

          &.active {
            border: 1px solid #e22828;
            background-color: #fff;
            color: #e22828;
          }

          &:hover {
            border: 1px solid #e22828;
            background-color: #fff;
            color: #e22828;
          }
        }
      }

      .descriptionRate {
        display: flex;
        flex-direction: column;
        padding: 28px 26px;
        border-bottom: 1px solid #e7e7e7;

        .info-user {
          display: flex;
          align-items: center;
          gap: 11px;

          img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
          }

          .info {
            display: flex;
            flex-direction: column;
            // gap: 5px;
            line-height: 1;
            justify-content: center;

            h3 {
              font-weight: 700 !important;
              font-size: 16px !important;
              color: #616161;
              margin: 0 !important;
              padding: 0 !important;
              line-height: 1 !important;
            }

            span {
              font-size: 15px;
            }
          }
        }

        .description {
          padding: 0;
          padding: 10px 0;
        }

        .listImages {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 16px;

          .item-video {
            width: 80px;
            height: 80px;
            position: relative;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;
            }

            .play {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 19px;
              z-index: 10;
              color: #fff;
            }
          }

          .item-image {
            width: 80px;
            height: 80px;
            position: relative;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;
            }
          }
        }
      }

      .pagination-ds {
        margin-top: 10px !important;
        text-align: center;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .map {
      padding: 26px;
      background-color: #fff;
      height: 358px;
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 27px !important;
        margin-bottom: 6px;
      }

      .address {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img {
          width: 10px;
          height: 10px;
          object-fit: contain;
        }

        span {
          font-size: 14px;
          color: #828282;
        }
      }

      .mapouter {
        flex: 1;

        .gmap_canvas {
          height: 100%;

          .gmap_iframe {
            height: 100%;
          }
        }
      }
    }

    .order {
      padding: 26px;
      background-color: #fff;

      .item {
        display: flex;
        justify-content: space-between;

        span {
          &:nth-child(1) {
            font-weight: 400;
            font-size: 16px;
            color: #616161;
          }
        }
      }
    }
  }
}

.paginate {
  margin-top: 16px !important;
}

@media (max-width: 576px) {
  .studioDetail {
    .box1 {
      padding: 10px 15px 15px;

      h4 {
        margin-bottom: 0;
        margin-right: 20px;
      }

      .address {
        margin: 5px 0px;
      }

      .item {
        font-size: 26px;
        font-weight: 600;

        &:nth-child(1) {
          color: red;
        }
      }
    }

    .right {
      // display: none !important;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1050;
      width: 100%;
      box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      .map {
        display: none;
      }

      .order {
        padding: 15px;
      }
    }

    .left {
      width: 100%;
    }


    .map-mobile {
      max-height: 300px !important;
      background-color: #fff;
      padding: 20px !important;
      width: 100%;

      h3 {
        font-size: 18px !important;
      }

      .map {
        .mapouter {
          height: 180px;

          .gmap_canvas {
            height: 100%;

            .gmap_iframe {
              height: 100%;
            }
          }
        }

      }
    }
  }

  .swiper-slide-detail {
    height: 220px !important;
    width: 100% !important;
  }

  .wrapper-service-mobile {
    background-color: #fff;
    padding: 15px 18px;

    .service-image-swiper {
      height: 200px !important;

      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }
    }

    .wrap {
      margin-top: 8px;

      .label {
        font-size: 15px !important;
        color: #616161;
      }

      .service-name {
        font-weight: 700;
        font-size: 16px;
        color: #3F3F3F;
      }
    }
  }

}