.drop-file-input {
  position: relative;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .input_file {
    position: absolute;
    cursor: pointer;
  }
}

.disable-select {
  position: relative;

  &:hover {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
  .input_file {
    position: absolute;
    cursor: not-allowed !important;
  }
}
.drop-file-input {
  &.dragover {
    opacity: 0.6;
  }
}
