.SetPassword {
  .username-init {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
  }
  .accepted {
    color: #03ac84;
    font-size: 14px;
  }
  .not-accepted {
    color: #e22828;
    font-size: 14px;
  }
  .input-password {
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
  }
  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: green !important;
    box-shadow: 0 0 0 2px #03ac8565;
  }
  .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: red !important;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.322);
  }
  .term-sign-up {
    margin-top: 73px;
    font-size: 16px;
    font-weight: 400;
    .policy-sign-up {
      color: #03ac84;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .stop-sign-up {
    margin-top: 28px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: #828282;
    background-color: #e7e7e7;
    border-radius: 8px;
    font-size: 16px;
  }
  .continue-sign-up {
    margin-top: 28px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #e22828;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }
}
