@import "../../../../App.scss";
.SetPassword {
  .header {
    font-size: 20px;
    font-weight: 600;
    .back-button-sign-up {
      border: none;
      background-color: #fff;
      transform: translateY(-2px);
      margin-right: 10px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  .noti-sign-up {
    margin-top: 31px;
    font-size: 18px;
    width: 370px;
  }
  .username-init {
    padding: 10px 20px;
    border: 1px solid $neutral-300;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
  }
  .accepted {
    color: $secondary-800;
    font-size: 14px;
  }
  .not-accepted {
    color: $primary-700;
    font-size: 14px;
  }
  .input-password {
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
  }
  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: $secondary-800 !important;
    box-shadow: 0 0 0 2px $secondary-700;
  }
  .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
  .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: $primary-700 !important;
    box-shadow: 0 0 0 2px $primary-300;
  }
  .term-sign-up {
    margin-top: 73px;
    font-size: 16px;
    font-weight: 400;
    .policy-sign-up {
      color: $secondary-800;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-height: 800px) {
    .term-sign-up {
      margin-top: 20px;
    }
  }
  .stop-sign-up {
    margin-top: 28px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: $neutral-400;
    background-color: $neutral-100;
    border-radius: 8px;
    font-size: 16px;
  }
  .continue-sign-up {
    margin-top: 28px;
    width: 100%;
    border: none;
    padding: 13px;
    font-weight: 700;
    color: #fff;
    background-color: $primary-700;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }
}
