@import "../../../../App.scss";

.device-shop-container {
    .shop_container {
        max-width: 1300px;
        margin: auto;

        .banner_container {
            background-color: #fff;

            .shop_name {
                font-weight: 800;
                font-size: 30px;
                line-height: 41px;
                color: $neutral-700;

                .check_circle {
                    font-size: 20px;
                    color: #03AC84;
                }
            }

            .location {
                margin-bottom: 10px;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #828282;

                display: flex;
                align-items: center;
            }

            .rating-device {
                font-size: 15px;
                padding-right: 6px;
                background-color: transparent;
                display: flex;
                flex-direction: row;
            }

        }

        .tab_panel {

            .ant-tabs-nav {
                background-color: white !important;
                height: 50px !important;
                margin-bottom: 6px;

                .ant-tabs-nav-wrap {

                    .ant-tabs-nav-list {

                        .ant-tabs-tab {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: $neutral-600;

                            padding: 0 14px;
                            // text-transform: capitalize;

                            &.ant-tabs-tab-active {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                color: $primary-700;

                                // border-bottom: 3px solid red;
                            }
                        }
                    }
                }
            }

            .ant-tabs-content-holder {
                // background: white;
                // padding: 15px 30px;

                .ant-tabs-content {

                    .wrap_card {
                        // margin-top: 5px;
                        display: grid;

                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                        // grid-template-columns: repeat(auto-fill, 200px);
                        gap: 9px;
                    }

                    .tab_category {

                        .header_aside_category {
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 27px;
                            color: $neutral-700;

                            border-bottom: 1px solid #B2B2B2;
                            padding-bottom: 17px;
                        }

                        .aside_category_list {

                            .aside_category_item {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 25px;
                                color: $neutral-600;

                                cursor: pointer;
                                margin-top: 20px;

                                &.active {
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 25px;
                                    color: $secondary-800;
                                }
                            }
                        }
                    }


                    .checkbox_content {

                        .checkbox_label {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 25px;
                            color: $neutral-600;
                        }

                        .checkbox_desc {

                            div {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 19px;
                                color: $neutral-500;

                                span {

                                    color: $neutral-600;
                                    margin-left: 12px;
                                }
                            }
                        }

                        .checkbox_action {
                            text-align: end;

                            Button {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: $secondary-800;
                                padding: 0;
                                margin-bottom: 34px;
                            }

                            .price {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 25px;
                                color: $primary-700;
                            }
                        }
                    }

                    .ant-divider {
                        margin: 14px 0 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .device-shop-container {
        padding: 0 !important;

        .header-mobile {
            // position: relative;

            .banner {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .nav {
                // position: absolute;
                width: 100%;

                .background_transparent {
                    background-color: transparent;
                }
            }

            .shop-name {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #222222;
            }

            .check_circle {
                font-size: 16px;
                color: #03AC84;
            }
        }

        .description {
            padding: 15px 18px;
            background-color: #fff;
            margin-top: 10px;

            .ant-typography-expand {
                color: #009874 !important;
            }

            .des {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #3F3F3F;
            }

        }

        .tab_panel {
            margin-top: 10px !important;

            .ant-tabs-content-holder {
                margin-top: 12px;
            }

            .wrap_card {
                // margin-top: 5px;
                display: grid;

                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
                // grid-template-columns: repeat(auto-fill, 200px);
                gap: 9px;
            }

        }


    }

}