// //NEUTRAL
// 50
$neutral-50: #f4f4f4;
// 100;
$neutral-100: #e7e7e7;
// 200
$neutral-200: #cacaca;
// 300
$neutral-300: #b2b2b2;
// 400
$neutral-400: #828282;
// 500
$neutral-500: #616161;
// 600
$neutral-600: #3f3f3f;
// 700
$neutral-700: #222222;
// //PRIMARY
// 50
$primary-50: #ffeded;
// 300
$primary-300: #fda8a8;
// 500
$primary-500: #f66a6a;
// 700
$primary-700: #e22828;
// //SECONDARY
// 50
$secondary-50: #e3faf4;
// 700
$secondary-300:#61c2ab;
$secondary-700: #1fcba2;
// 800
$secondary-800: #03ac84;
//third
//50
$third-50: #fff7ce;
// 700
$third-700: #f8d93a;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

html {
  scroll-behavior: smooth !important;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background: #0e1624;
  }

  &::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 0.5rem;
  }
}

p,
ul {
  margin: 0 !important;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 48px !important;
  font-weight: 800 !important;
  line-height: 65.47px !important;
}

h2 {
  font-size: 34px !important;
  font-weight: 700 !important;
  line-height: 46.38px !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32.74px !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 27.28px !important;
}

h5 {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 21.82px !important;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.w-20 {
  width: 20%;
}

.table-row-light {
  background-color: #ffffff !important;
}

.table-row-dark {
  background-color: #fbfbfb !important;
}

.App {
  width: 100%;
}

.text-medium-re {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $neutral-400;
}

.text-medium-se {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $neutral-600;
}

/////////////////////////////////////////////////////
@for $i from 1 to 201 {
  .w-#{$i} {
    width: $i * 1%;
  }

  .h-#{$i} {
    height: $i * 1%;
  }

  .m-#{$i} {
    margin: $i * 1px;
  }

  .mt-#{$i} {
    margin-top: $i * 1px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }

  .ms-#{$i} {
    margin-left: $i * 1px;
  }

  .me-#{$i} {
    margin-right: $i * 1px;
  }

  .my-#{$i} {
    margin-top: $i * 1px;
    margin-bottom: $i * 1px;
  }

  .mx-#{$i} {
    margin-left: $i * 1px;
    margin-right: $i * 1px;
  }

  .p-#{$i} {
    padding: $i * 1px;
  }

  .pt-#{$i} {
    padding-top: $i * 1px;
  }

  .pb-#{$i} {
    padding-bottom: $i * 1px;
  }

  .ps-#{$i} {
    padding-left: $i * 1px;
  }

  .pe-#{$i} {
    padding-right: $i * 1px;
  }

  .py-#{$i} {
    padding-top: $i * 1px;
    padding-bottom: $i * 1px;
  }

  .px-#{$i} {
    padding-left: $i * 1px;
    padding-right: $i * 1px;
  }

  .w-#{$i}px {
    width: $i * 1px;
  }

  .h-#{$i}px {
    height: $i * 1px !important;
  }
}

// .ant-modal-wrap {
//   text-align: center !important;
//   .ant-modal {
//     width: auto !important;
//   }
// }
.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  color: #fff !important;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
