@import "../../../../App.scss";

.list_item_album {
    margin-bottom: 30px;

    // &:last-child {
    //     margin-bottom: 0;
    // }

    .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $neutral-500;

        margin-bottom: 13px;
    }

    img {
        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {
            transform: scale(1.02, 1.02);
            opacity: 0.7;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: block !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    color: #616161;
    width: 36px !important;
    height: 36px !important;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);

    // &:hover {
    //   background-color: #43464b;
    // }

    &::after {
        font-size: 10px !important;
        color: #616161 !important;
        font-weight: bold !important;
    }
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}