.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
    justify-content: center;
    z-index: 2;
    .logo-booking {
      width: 132px;
      height: 39px;
      transform: translateX(150px);
    }
  }

  .body-login {
    width: 100%;
    height: calc(100% - 80px);
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .body-contain-login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90%;
      max-height: 702px;
      width: 70%;
      max-width: 1120px;

      .pic-login {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        width: 50%;
        height: 100%;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
      }

      .login-platform {
        background-color: #fff;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .pic-login {
      display: none;
    }
    
    .login-platform {
      width: 90%;
    }
  }
  
}
